
.bg-color{
  background-color: #b2ebd4; 

}

 .custom-navbar {
  background-color: #b2ebd4; /* Background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.navbar-brand, .nav-link {
  color: green;
  font-weight: bolder;
}
  .fashion-text h1 {
    font-weight: bold;
    font-size: 2.5rem;
  }
  .container1{
     background-color: #b2ebd4;
     margin: auto; 
     position: fixed;
     top: 0;

  }
  .explore-btn {
    background-color: #242525; /* Dark button background */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
 
  .fashion-image {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
   
    
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(1); /* Makes the icons black */
  }


  .carousel-item img {
    margin: 0 auto;
  }
  .text-justify {
    text-align: justify;
  }
  .offer-text {
   margin-top:70px;

  }
  .txt{
    width: 280px;
    text-align: justify;
    justify-content: center;
    text-align: center;
  }
 .pic2{
  padding-top: 3px;
 }
 .pic3{
  padding-top: 8px;
 }
 